 main{
    background-image: url('image.jpg');
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px;
    display: flex;
    height:100vh;
    width: 80%;
    background-repeat: no-repeat;
    background-color:white;
    background-position: center center; 

} 
  .container {
    width: 35%;
    padding: 20px 10px;
    background: white;
     height: 20rem; 
  }
  
  .container p {
    text-align: center;
  }
  
  .container .header {
    font-size: 30px;
    text-align: center;
  }
  
  .container span {
    font-size: 100px;
    display: block;
    font-weight: 900;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 20px auto;
  }
  
  .button-container .decrease {
    background: #fff;
    color: #e4215c;
    border: none;
    outline: none;
    padding: 11px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button-container .reset {
    background: #fff;
    color: #22436c;
    border: none;
    outline: none;
    padding: 11px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button-container .increase {
    background: #fff;
    color: #93d823;
    border: none;
    outline: none;
    padding: 11px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

    
